*{
	margin:0;
	padding:0;
}

body{
	text-align: center;
	font-size:14px;
	color:#666;
	background:url('/img/bg.jpg') #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
}
h1 {
	color:#7E94A2;
	font-size:30px;
	margin:30px 0 10px;
}
#container {
	width: 950px;
	margin: 0 auto;
}
table {
	margin-top: 30px;
	border:1px solid grey;
	table-layout:fixed;
	width: 930px;
}
table tr {
	background: #ddd;
	height:1em;
}
table tr :first-child{
	width:150px;
}
table tr :last-child{
	width:100px;
	text-align:center;
}
table tr td {
	font-size: 12px;
	padding-bottom: 5px;
	overflow:hidden;
	white-space:nowrap;
}
.mensaje{
	color:red;
	font-size: 13px;
	display:block;
	margin-top:10px;
}
#login_table {
	border:none;
	width: 500px;
}
#login_table th{
	width:400px;
}
#chuck_text {
	display:block;
	margin-top:50px;
	font-size:11px;
}
#chuck_form{
	margin-top:10px;	
}
#chuck_form textarea {
	width: 400px;
	height: 5em;
}
